<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no">
<title>サーボモーターの制御</title>
<!-- jQuery UI -->
<link href="/9-5/static/jquery-ui.min.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/9-5/static/jquery-3.7.1.min.js"></script>
<script type="text/javascript" src="/9-5/static/jquery-ui.min.js"></script>
<script type="text/javascript" src="/9-5/static/jquery.ui.touch-punch.js"></script>

<script type="text/javascript" src="/9-5/static/javascript.js"></script>
<link href="/9-5/static/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<p>スクロールバーを動かすことで、サーボモーターの角度が変化します。</p>
<div align="center">
    <div id="text0_servo">サーボモーター0の角度調整</div>
    <div id="slider0_servo"></div>
    <div id="text1_servo">サーボモーター1の角度調整</div>
    <div id="slider1_servo"></div>
</div>

</body>
</html>
